<div class="page-header">
  <h1 class="text-center">All Notes</h1>
</div>
<div class="container">
 <form class="navbar-form navbar-left">
        <%= search_form_for(@q, format: :json) do |f| %>
        <div class="form-group">
          <%= f.text_field :title_cont, class: "form-control", placeholder:"Search" %>
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
        <% end %>
        </form>
        
  <div class="row">
    <div class="col col-xs-12">
      <div class="blog-grids">

        <% @posts.each do |p|%>
        <a href="/notes/<%= p.id %>">
          <div class="grid">
            <div class="entry-media">
               <%= image_tag p.image.url(:medium) %>
            </div>
            <div class="entry-body">
              <span class="cat"><%= p.user.name %></span>
              <h3><a href="#"><%= p.title %></a></h3>
              <p><%= p.body[0..90] ... %></p>
              <div class="read-more-date">
                <a href="/notes/<%= p.id %>">Read More..</a>
                <span class="date"><%= time_ago_in_words(p.created_at)%></span>
              </div>
            </div>
          </div>
          </a>
        <% end %>

       
       
      </div>
    </div>
  </div>
</div>
