


<div class="one-blog">
  <h1 class="text-center"><%= @post.title %></h1>

  <div class="container">
    <div class="blog-contain">
      <%= image_tag @post.image.url(:large) %>
      <p><%= @post.body %></p>
    </div>

    <div class="all-comments">

      <% @post.comments.each do |c| %>
        <p><%= c.body %></p>
      <% end %>
    </div>
  </div>
</div>
  
