<div class="page-header">
  <h1 class="text-center">All Authors</h1>
</div>
<div class="container">
  <div class="row">
    <div class="col col-xs-12">
      <div class="blog-grids">

        <% @authors.each do |a|%>
        <a href="/authors/<%= a.id %>">
          <div class="grid auth-cont">
            <div class="entry-media">
            </div>
            <div class="entry-body">
              <h3 class="cat text-center"><%= a.name %></h3>
              <h3 class="text-center email"><%= a.email %></h3>
              <h3 class="text-center"><%= a.posts.count %> post</h3>
            </div>
          </div>
          </a>
        <% end %>

       
       
      </div>
    </div>
  </div>
</div>
