


<div class="one-blog">
  <h1 class="text-center"><%= @author.name %></h1>

  <div class="container">
  <div class="row">
    <div class="col col-xs-12">
      <div class="blog-grids">

        <% @author.posts.each do |p|%>
        <a href="/notes/<%= p.id %>">
          <div class="grid">
            <div class="entry-media">
               <%= image_tag p.image.url(:medium) %>
            </div>
            <div class="entry-body">
              <h3><a href="#"><%= p.title %></a></h3>
              <p><%= p.body[0..100] ... %></p>
              <div class="read-more-date">
                <a href="/notes/<%= p.id %>">Read More..</a>
                <span class="date"><%= time_ago_in_words(p.created_at)%></span>
              </div>
            </div>
          </div>
          </a>
        <% end %>

       
       
      </div>
    </div>
  </div>
</div>

</div>
  
