<% if current_user == @post.user %>

<div class="page-header">
  <%= link_to posts_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Back
  <% end %>
  <%= link_to edit_post_path(@post), class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-pencil"></span>
    Edit
  <% end %>
  <h1>Show post</h1>
</div>

<dl class="dl-horizontal">

  <dt>Image:</dt>
  <dd><%= image_tag @post.image.url("medium") %></dd>


  <dt>Title:</dt>
  <dd><%= @post.title %></dd>

  <dt>Body:</dt>
  <dd><%= @post.body %></dd>

  <dt>Category:</dt>
  <dd><%= @post.category.name %></dd>


  

</dl>

<% else %>
<h3 class="text-center">Sorry you can't access to another user post</h3>
<% end %>

