/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 .auth-cont .cat {
     word-break: break-all;
     font-size: 18px !important;
 }
 .auth-cont .email {
     color : #41516a;
     font-size: 18px;
     word-break: break-all;
 }
.blog-contain p {
    font-size: 18px;
    line-height: 1.8;
    color: #4c4c4c;
    word-spacing: -0.7px;
}

.blog-contain img {
    text-align: center;
    display: block;
    margin: auto;
    padding-bottom: 30px;
    padding-top: 20px;
}

.blog-contain {
    width: 100%;
    border-radius: 5px;
    box-shadow: 0px 0px 32px -7px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0px 0px 32px -7px rgba(0, 0, 0, 0.1);
    padding: 20px;
    min-height: 200px;

}

.one-blog h1 {
    margin-bottom: 30px;
}

.logo-nav {
    padding: 0px;
    padding-right: 10px;
}

.navbar-nav li a {
    font-size: 15px;
    transition: all 0.40s ease-in-out;
    -webkit-transition: all 0.40s ease-in-out;
    -moz-transition: all 0.40s ease-in-out;
    -o-transition: all 0.40s ease-in-out;
    color: #413C55
}

.notaya-nav a {
    color: #000
}

.notaya-nav {
    height: 60px;
    padding-top: 5px;
    background: #fff;
    box-shadow: 0px 0px 20px 1px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0px 0px 20px 1px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 0px 20px 1px rgba(0, 0, 0, 0.1);
    -o-box-shadow: 0px 0px 20px 1px rgba(0, 0, 0, 0.1);
}

.blog-grids {
    overflow: hidden;
    margin: 0 -15px;
}

.blog-grids .grid {
    background-color: #fff;
    width: calc(33.33% - 30px);
    float: left;
    padding: 15px;
    margin: 20px 15px 15px;
    border-radius: 10px;
    -webkit-box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
}

.blog-grids .grid p {
    word-break: break-all;
}

.blog-grids .grid img {
    width: 100%;
    height: 200px;
}

.entry-media img {
    border-radius: 5px;
    width: 100%;
}

.entry-body {
    padding: 27px 10px;
}

.entry-body .cat {
    font-family: "Poppins", sans-serif;
    font-size: 12px;
    font-weight: 600;
    color: #6220d9;
    text-transform: uppercase;
}

.entry-body h3 {
    font-size: 21px;
    font-weight: 600;
    line-height: 1.30em;
    margin: 3px 0 0.73em;
}

.entry-body h3 a {
    color: #41516a;
}

.entry-body h3 a:hover {
    color: #6220d9;
    text-decoration: none;
}

.entry-body p {
    margin-bottom: 2em;
    color: #90949a;
    line-height: 1.8em;
}

.read-more-date {
    position: relative;
}

.read-more-date a {
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-size: 1.06667rem;
    font-weight: 600;
    color: #41516a;
    text-transform: uppercase;
}

.read-more-date .date {
    position: absolute;
    right: 0;
    color: #90949a;
}
