

<div class="page-header">
  <%= link_to new_category_path, class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-plus"></span>
    New Category
  <% end %>
  <h1>Listing categories</h1>
  
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
        <th>Name</th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <%= content_tag_for(:tr, @categories) do |category| %>
            <td><%= category.name %></td>
            <td><%= link_to 'Show', category %></td>
        <td><%= link_to 'Edit', edit_category_path(category) %></td>
        <td><%= link_to 'Destroy', category, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      <% end %>
    </tbody>
  </table>
</div>

<div class="one-blog">
  <h1 class="text-center">All Categories</h1>
  <div class="container">
  <div class="row">
    <div class="col col-xs-12">
      <div class="blog-grids">

        <% @categories.each do |p|%>
        <a href="/categories/<%= p.id %>">
          <div class="grid">
         
            <div class="entry-body">
              <h3><%= p.name %></h3>
              <div class="read-more-date">
                <a href="/categories/<%= p.id %>"> <%= p.posts.count %> posts</a>
              </div>
            </div>
          </div>
          </a>
        <% end %>

       
       
      </div>
    </div>
  </div>
</div>

</div>

