
  <div class="page-header">
    <%= link_to categories_path, class: 'btn btn-default' do %>
      <span class="glyphicon glyphicon-list-alt"></span>
      Back
    <% end %>
    <%= link_to edit_category_path(@category), class: 'btn btn-primary' do %>
      <span class="glyphicon glyphicon-pencil"></span>
      Edit
    <% end %>
    <h1>Show category</h1>
  </div>

  <dl class="dl-horizontal">
    <dt>Name:</dt>
    <dd><%= @category.name %></dd>

  </dl>

  <div class="row">
    <div class="col col-xs-12">
      <div class="blog-grids">

        <% @category.posts.each do |p|%>
        <a href="/notes/<%= p.id %>">
          <div class="grid">
            <div class="entry-media">
               <%= image_tag p.image.url(:medium) %>
            </div>
            <div class="entry-body">
              <span class="cat"><%= p.user.name %></span>
              <h3><a href="#"><%= p.title %></a></h3>
              <p><%= p.body[0..90] ... %></p>
              <div class="read-more-date">
                <a href="/notes/<%= p.id %>">Read More..</a>
                <span class="date"><%= time_ago_in_words(p.created_at)%></span>
              </div>
            </div>
          </div>
          </a>
        <% end %>

       
       
      </div>
    </div>
  </div>

